@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	scroll-padding: 10vh;

	font-family: "Exo 2", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
	background: --var();
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: hsl(var(--n));
	border-radius: 12px;
}

::-webkit-scrollbar-track {
	display: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;